<footer class="art-footer">
    <div class="art-footer-inner">
        <div class="art-content-layout">
            <div class="art-content-layout-row">
                <div class="art-layout-cell layout-item-0" style="width: 50%">
                    <p style="float: left; padding-left: 20px; text-align: left;">
                        <a href="/">首页</a>|
                        <a href="#">联系我们</a>|
                        <a href="/about/index.html#Fl">法律声明</a>|
                        <a href="/about/index.html#Ys">隐私保护</a>
                    </p>
                </div>
                <div class="art-layout-cell layout-item-0" style="width: 50%">
                    <p style="padding-right: 20px; text-align: left;">
                        客户服务热线：4006900000　邮箱：shg.cao@gmail.com <br>

                    </p>
                    <br><br>
                    <p><br></p>
                </div>
            </div>
        </div>

        <p class="art-page-footer">
            <span id="art-footnote-links">版权所有 © 大器技术（中国）有限公司 2008-2014。 保留一切权利。京A2-20085858号</span>
        </p>
    </div>
</footer>