<header class="art-header">
    <div class="art-shapes">
        <div class="art-object0" data-left="99.8%"></div>
        <div class="art-textblock art-object554312304" data-left="0%">
            <div class="art-object554312304-text-container">
                <div class="art-object554312304-text"></div>
            </div>

        </div>
    </div>
    <h1 class="art-headline" data-left="1.09%">
        <a href="#">大器网络科技</a>
    </h1>

    <h2 class="art-slogan" data-left="1.09%" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        ——为大气者而生，技术引领生活
    </h2>


    <nav class="art-nav">
        <div class="art-nav-inner">
            <ul class="art-hmenu">
                <li><a href="/" class="{% if page.overview %}active{% endif %}">首页</a></li>
                <li><a href="/product/" class="{% if page.category == 'product' %}active{% endif %}">产品服务</a></li>
                <li><a href="/news/" class="{% if page.category == 'news' %}active{% endif %}">公司新闻</a></li>
                <li><a href="/contacts/" class="{% if page.title == 'contacts' %}active{% endif %}">关于大器</a></li>
                <li><a href="/zhaopin/" class="{% if page.category == 'zhaopin' %}active{% endif %}">加入我们</a></li>
            </ul>
        </div>
    </nav>
</header>
